.container-register{
    width: 100%;
    height: 95vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn-cancel{
    text-decoration: none;
}

.form-register{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.form-register input{
    border-radius: 15px;
    padding-left: 8px;
    padding-right: 8px;
    background: rgba(232, 232, 232, 0.719);
    border: none;
    -webkit-transition: 0.1s;
}
.form-register input:focus{
    background: rgb(225, 223, 225);
    border: 2px solid rgb(114, 206, 243);
}
.form-register label{
    font-weight: 600;
}

.cont-btnR{

}